.calculator,.header{
    display: flex;
    justify-content: center;
}
.panel{
    background-color: darkslategray;
    padding: 30px;
    width: 350px;
    height: 500px;
    border: 1px solid black;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(4,1f);
    grid-template-columns: repeat(5,1f);
    gap: 10px;
}
.display{
    border-radius: 3px;
    margin-bottom: 1rem;
    background-color: rgb(255, 255, 255);
    grid-column: 1/5;
    display: flex;
    justify-content: right;
    align-items:flex-end;
    padding: 10px 20px;
}
.btn{
    margin: 0;
    border-radius: 5px;
    border:1px solid lightgray;
    background-color: gray;
    grid-column: 1fr;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    cursor: pointer;
}

.numberDisplay{
    margin: 0;
    font-size: 3rem;
    font-weight: bold;
}